/* body */
body {
     display: flex;
     flex-direction: column;
     border: 1px solid black;
     padding: 0;
     margin: 0;
 }

/* navbar */
    #navbar {
        display: flex;
        height: 3vh;
        width: 100vw;
        border-bottom: 1px solid black;
        background-color: #EDEDED;
    }

        #navbar p {
            font-weight: bold;
            font-size: 1.5rem;
            margin: initial;
            padding: 6px;
        }

        #buttons {
            display: flex;
            margin: 0 auto;
            align-items: center;
            background-color: #EDEDED;
            cursor: pointer;
        }

            .toggle-button {
                border: 1px solid grey;
                padding: 3px;
                border-right: none;
            }

                #html {
                    border-top-left-radius: 10%;
                    border-bottom-left-radius: 10%;
                }

                #output {
                     border-right: 1px solid grey;
                     border-top-right-radius: 10%;
                     border-bottom-right-radius: 10%;
                 }

            .active-btn {
                background-color: #EBF3FF;
            }

            .highlighted-button {
                background-color: lightgray;
            }

/* panels */

    #container {
        display: flex;
    }

            .panel {
                float: left;
                width: 50vw;
                height: 93vh;
                background-color: #f7f7f7;
                resize: none;
                border-top: none;
            }

                #output-panel {
                    border: none;
                }

            .hidden {
                display: none;
            }

            .active-panel {
                background-color: #ffffff;
            }